body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;

  }

  .board {
    display: table;
    border: 5px solid rgb(0, 0, 0);
  }
  
  .status {
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  .tile {
    background: #fff;
    border: 0px solid rgb(253, 250, 250);
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 75px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 75px;
  }
  
  .tile:focus {
    outline: none;
  }
  
  .kbd-navigation .tile:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }

  .tilenumber1{
    background-size: contain;
    background-image: url(./numbers/1.png);
  }

  .tilenumber2{
    background-size: contain;
    background-image: url(./numbers/2.png);
  }

  .tilenumber3{
    background-size: contain;
    background-image: url(./numbers/3.png);
  }

  .tilenumber4{
    background-size: contain;
    background-image: url(./numbers/4.png);
  }

  .tilenumber5{
    background-size: contain;
    background-image: url(./numbers/5.png);
  }

  .tilenumber6{
    background-size: contain;
    background-image: url(./numbers/6.png);
  }

  .tilenumber7{
    background-size: contain;
    background-image: url(./numbers/7.png);
  }

  .tilenumber8{
    background-size: contain;
    background-image: url(./numbers/8.png);
  }

  .tilenumber9{
    background-size: contain;
    background-image: url(./numbers/9.png);
  }

  .tilenumber10{
    background-size: contain;
    background-image: url(./numbers/10.png);
  }

  .tilenumber11{
    background-size: contain;
    background-image: url(./numbers/11.png);
  }

  .tilenumber12{
    background-size: contain;
    background-image: url(./numbers/12.png);
  }

  .tilenumber13{
    background-size: contain;
    background-image: url(./numbers/13.png);
  }

  .tilenumber14{
    background-size: contain;
    background-image: url(./numbers/14.png);
  }

  .tilenumber15{
    background-size: contain;
    background-image: url(./numbers/15.png);
  }